body{
  background: #e2e7e7;
  overflow: hidden;
}
/* HEADER */
ul {
  top: 0;
  right: 0;
  background: white;
  position: relative;
  margin: 0;
  padding: 0px;
  top: 0px;
  left: 0;
  list-style-type: none;
  overflow: hidden;
  color: black;
  min-width: 100%;
  border: none;
}

ul p{
  float: left;
  display: inline;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 2px solid #000;
  font-family: 'Lato';
  
}

li {
  float: right;
  padding-left: 4px;
}
/* DROPDOWN */
li a, .dropbtn {
  display: inline-block;
  color:black;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-family: 'Lato';

}

li a:hover, .dropdown:hover .dropbtn {
  border: 1px solid #9dc88d;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  z-index: 1;
  
}

.dropdown-content a {
  color: #000;
  padding: 20px 30px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/*banner*/
.banner{
  float: left;
  width: 100%;
  height: 33vh;
}


/* Contact */
.contactBox{
  margin-top: 41vh;
  width: 100%;
  height:60vh;
}

.formInfo {
  height: 100%;
}

#firstName{
  position: relative;
  height: 6vh;
  width: 40vw;
  border: 15px solid rgb(236, 150, 50);
  padding: 16px;
  margin-left: 10vw;
}

#email{
  border: 15px solid #9dc88d;
  height: 6vh;
  width: 40vw;
  padding: 16px;
  margin-left: 10vw;
}

#message{
  border: 15px solid #9dc88d;
  height: 6vh;
  width: 40vw;
  padding: 16px;
  margin-left: 10vw;
}




/* Submit Button */
.btn {
  border: none;
  box-shadow: none;
  font-family: 'Lato';
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;   
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  float: right;
  margin-right: 20%;
  margin-top: 5vh;
  width: 16vw;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}


/* Icon separator */
.btn-sep {
  padding: 25px 60px 25px 120px;
}

.btn-sep:before {
  background: rgba(0,0,0,0.15);
}
.btn-4 {
  background: #34495e;
  color: #fff;
}

.btn-4:hover {
  background: #2c3e50;
}

.btn-4:active {
  background: #2c3e50;
  top: 2px;
}

.btn-4:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

.icon-send:before {
  content: "\f1d8";
}

