body{
  background:linear-gradient(to right, #164A41, #9dc88d);
  overflow: hidden;
}
/* HEADER */
ul {
  position: relative;
  margin: 0;
  padding: 0px;
  top: 0px;
  left: 0;
  list-style-type: none;
  overflow: hidden;
  color: #ffffff;
  min-width: 100%;
  box-shadow: 5px 10px;
}

ul p{
  float: left;
  display: inline;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 2px solid #fffffc;
  font-family: 'Lato';
  
}

li {
  float: right;
  padding-left: 4px;
}
/* DROPDOWN */
li a, .dropbtn {
  display: inline-block;
  color:#ffffff;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-family: 'Lato';

}

li a:hover, .dropdown:hover .dropbtn {
  color: #f1c47c;
  border: 1px solid #f1c47c;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  z-index: 1;
  
}

.dropdown-content a {
  color: #ffffff;
  padding: 20px 30px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/*banner*/
.banner{
  border: 2px solid black;
  float: left;
  width: 100%;
  height: 40vh;
  z-index: -1;
}


/* Contact */

.contactBox{
  border: 2px solid black;
  width: 100%;
  height: 50vh;
  float: left;
  margin-top: 0vh;
}

.formInfo label{
  padding: 16px;
  display: block;
  border: 2px solid black;
  margin-left: 20vw;
}

/* Submit Button */
.btn {
  border: none;
  font-family: 'Lato';
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}


/* Icon separator */
.btn-sep {
  padding: 25px 60px 25px 120px;
}

.btn-sep:before {
  background: rgba(0,0,0,0.15);
}
.btn-4 {
  background: #34495e;
  color: #fff;
}

.btn-4:hover {
  background: #2c3e50;
}

.btn-4:active {
  background: #2c3e50;
  top: 2px;
}

.btn-4:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

.icon-send:before {
  content: "\f1d8";
}

