<!DOCTYPE html>
{% load static %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'framework/css/services.css' %}">
  <meta charset="utf-8">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <script type="text/javascript" src="{% static 'framework/js/homepage.js' %}"></script>
</head>
<body>
<!--Header-->
<ul>
  <p>Indigo Tree Consulting</p>
  <li class="dropdown">
    <a href="{% url 'services' %}" class="services">Services <i class="fa fa-bars"></i></a>    
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>
  <li><a href="{% url 'contact' %}">Contact</a></li>
  <li><a href="{% url 'index' %}">Home</a></li>
</ul>
<div class="card mb-3">
  <img src="{% static 'framework/images/bald_eagle.JPG' %}" class="card-img-top" alt="..." style="width: 100vw; height: 30vh;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>


